<div class="messages">
  <%= render partial: "messages/nav" %>

  <% @messages.each do |message| %>
    <div class="message well">
      <h4><%= message.subject %></h4>
      <div class="timestamp">Sent on: <%= format_timestamp(message.created_at) %></div>
      <div class="from">From: <%= link_to message.sender.name, player_path(message.sender) %></div>
      <p class="body"><%= format_markdown(message.body) %></p>
      <div class="reply"><%= message_link(message.sender, "Reply") %></div>
    </div>
  <% end %>
</div>
