<div class="messages">
  <%= render partial: "messages/nav" %>

  <%= simple_form_for @message, url: create_message_path do |f| %>
    <%= error_messages_for @message %>
    <%= f.association :recipient, as: :select, collection: Player.all, label_method: :handle, value_method: :id %>
    <%= f.input :subject %>
    <%= f.input :body, as: :text, input_html: {rows: 10, cols: 100} %>
    <%= f.submit "Create Message", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn btn-default' %>
  <% end %>
</div>

<% content_for :sidebar do %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Formatting</h3>
    </div>
    <div class="panel-body">
      <p>
        The body of your message supports <a href='http://en.wikipedia.org/wiki/Markdown' target="_blank">Markdown</a> formatting.  Below are some syntax examples.
      </p>
      <%= render partial: "shared/markdown_examples" %>
    </div>
  </div>
<% end %>
