<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Comments</th>
      <th>Views</th>
      <th>Last post</th>
    </tr>
  </thead>
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.subject, forum_topic_path(@forum, topic) %></td>
        <td><span class="badge badge-success"><%= topic.comment_count %></span></td>
        <td><span class="badge badge-error"><%= topic.view_count %></span></td>
        <td><%= format_timestamp(topic.comments.last.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>New topic</h2>
<%= simple_form_for @topic, url: forum_topics_path(@forum), html: {class: 'form-vertical well'} do |f| %>
  <fieldset>
    <%= f.input :subject %>
    <%= f.fields_for :comments do |comment| %>
      <%= comment.input :body, as: :text, input_html: {class: 'span6', rows: 10} %>
    <% end %>
    <div class="form-actions">
      <%= f.submit "Create Topic", class: 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>

<% content_for :sidebar do %>
  <%= render partial: "shared/markdown_examples" %>
<% end %>