<% content_for :page_title, "#{@forum.name} Forum" %>

<div class='table-wrapper'>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Comments</th>
        <th>Views</th>
        <th>Last post</th>
      </tr>
    </thead>
    <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td><%= link_to topic.subject, forum_topic_path(@forum, topic) %></td>
          <td><span class="badge"><%= topic.comment_count %></span></td>
          <td><span class="badge"><%= topic.view_count %></span></td>
          <td><%= format_timestamp(topic.comments.last.created_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New Topic</h3>
  </div>
  <div class="panel-body">
    <%= simple_form_for @topic, url: forum_topics_path(@forum) do |f| %>
      <%= f.input :subject %>
      <%= f.fields_for :comments do |comment| %>
        <%= comment.input :body, as: :text, input_html: {class: 'span6', rows: 10} %>
      <% end %>
      <%= f.submit "Create Topic", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<% content_for :sidebar do %>
  <%= render partial: "forums/comment_formatting" %>
<% end %>
