<div class="well comment" >
  <%= image_tag(comment.player.profile_image_path(:square)) %>
  <%= link_to "Player: #{comment.player.handle}", player_path(comment.player), class: "profile-link" %>
  <br />
  <div class="timestamp">Posted: <%= format_timestamp(comment.created_at) %></div>
  <p class="body">
    <%= format_markdown(comment.body) %>
  </p>
  <a href='#' class='nested_comment_link btn btn-inverse'><i class='icon-comment icon-white'></i> Reply to this comment</a>
  <div class="comment_form_container" style="display: none;">
    <%= render :partial => "comments/form", locals: {parent_id: comment.id} %>
  </div>
</div>
<div class="nested-comments">
  <%= render :partial => "comments/comment", :collection => comment.comments %>
</div>
