<div class="well">
  <h1>Risk 2210 A.D. Expansions</h1>
  <p>Listed below are a bunch of expansions for Risk 2210 A.D. I use <%= link_to "Artscow", "http://www.artscow.com/", target: "_blank" %> for printing the cards and <%= link_to "Print & Play", "http://printplaygames.com/", target: "_blank" %> for the custom board prints.</p>

  <h3>Maps</h3>
  <%= link_to("Antarctica", expansions_antarctica_path) %><br>
  <%= link_to("Arctic", expansions_arctic_path) %><br>
  <%= link_to("Asteroid Colonies", expansions_asteroid_colonies_path) %><br>
  <%= link_to("Europa", expansions_europa_path) %><br>
  <%= link_to("Io", expansions_io_path) %><br>
  <%= link_to("Mars", expansions_mars_path) %><br>
  <%= link_to("Pluto", expansions_pluto_path) %><br>
  <%= link_to("Titan", expansions_titan_path) %><br>

  <h3>Commanders</h3>
  <%= link_to("Majors Promo Cards", expansions_majors_promo_cards_path) %><br>
  <%= link_to("Resistance Commander", expansions_resistance_commander_path) %><br>
  <%= link_to("Tech Commander", expansions_tech_commander_path) %><br>

  <h3>Misc</h3>
  <%= link_to("Factions", expansions_factions_path) %><br>
  <%= link_to("Galactic Risk", expansions_galactic_path) %><br>
  <%= link_to("Invasion of the Giant Amoebas", expansions_amoebas_path) %><br>
</div>
