<div class="well">
  <h1><%= @faction.name %></h1>
  <h2><%= @faction.classification %></h2>
  <p>Official Faction: <%= @faction.official?.yes_or_no %></p>
  <h3>Starting Resources:</h3>
  <ul>
    <% @faction.starting_resources.each do |resource| %>
      <li><%= resource %></li>
    <% end %>
  </ul>
  <p><%= @faction.abilities %></p>
</div>

<% content_for :sidebar do %>
  <div class='card'>
    <%= faction_card_image(@faction) %>
  </div>
<% end %>
