<% content_for :page_title, "About" %>

<div class="page-header">
  <h1>About</h1>
</div>
<p class="lead">
  The source code for this site is freely available at <%= link_to "https://github.com/nick-desteffen/risk2210", "https://github.com/nick-desteffen/risk2210", target: "_blank" %> and was built using the open source technologies below.
</p>
<div class="well">
  <div class="tech">
    <%= link_to image_tag("logos/rails.png"), "http://rubyonrails.org", target: "_blank" %><br>
  </div>
  <div class="tech">
    <%= link_to image_tag("logos/mongodb_logo.png"), "http://www.mongodb.org", target: "_blank" %><br>
  </div>
  <div class="tech">
  <%= link_to image_tag("logos/mongoid-logo-small.png"), "http://mongoid.org", target: "_blank" %><br>
  </div>
  <div class="tech">
    <%= link_to image_tag("logos/bootstrap-apple-touch-128_bigger.png", width: 100), "http://getbootstrap.com", target: "_blank" %><br>
  </div>
  <div class="tech backbone">
    <%= link_to image_tag("logos/backbone.png"), "http://backbonejs.org", target: "_blank" %><br>
  </div>
</div>
