<h1>About</h1>
<p>This site was built using the following technologies:</p>
<div class="tech">
  <%= link_to image_tag("logos/rails.png"), "http://rubyonrails.org", target: "_blank" %><br>
</div>
<div class="tech">
  <%= link_to image_tag("logos/mongodb_logo.png"), "http://www.mongodb.org", target: "_blank" %><br>
</div>
<div class="tech">
<%= link_to image_tag("logos/mongoid-logo-small.png"), "http://mongoid.org/", target: "_blank" %><br>
</div>
<div class="tech">
  <%= link_to image_tag("logos/bootstrap-apple-touch-128_bigger.png"), "http://twitter.github.com/bootstrap/index.html", target: "_blank" %><br>
</div>
<div class="tech backbone">
  <%= link_to image_tag("logos/backbone.png"), "http://documentcloud.github.com/backbone/", target: "_blank" %><br>
</div>

