<h1>API Endpoints</h1>
<p>All API endpoints respond with JSON. Make sure you set the request header <strong>Accept: application/json</strong>.</p>

<h2>Players</h2>
<div class="api-doc">
  <table>
    <tr>
      <th>HTTP Method</th>
      <th>Endpoint</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>GET</td>
      <td><%= link_to "/api/v1/players", "/api/v1/players.json", target: "_blank" %></td>
      <td>All public player records</td>
    </tr>
    <tr>
      <td>GET</td>
      <td><%= link_to "/api/v1/players/:slug", "/api/v1/players/#{Player.first.slug}.json", target: "_blank" %> </td>
      <td>The player data for the requested slug</td>
    </td>
    <tr>
      <td>PUT</td>
      <td><%= link_to "/api/v1/players/:slug", "#" %> </td>
      <td>Updates the player identified by the slug</td>
    </td>
  </table>
</div>

<h2>Factions</h2>
<div class="api-doc">
    <table>
    <tr>
      <th>HTTP Method</th>
      <th>Endpoint</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>GET</td>
      <td><%= link_to "/api/v1/factions", "/api/v1/factions.json", target: "_blank" %></td>
      <td>All faction records</td>
    </tr>
    <tr>
      <td>GET</td>
      <td><%= link_to "/api/v1/factions/:slug", "/api/v1/factions/#{Faction.random.slug}.json", target: "_blank" %> </td>
      <td>The faction data for the requested slug</td>
    </td>
  </table>
</div>