<div class="well">
  <p class="lead">Welcome to my Risk 2210 A.D. site! This site acts as a repository for all the Risk 2210 A.D. expansions (official and un-official) and it also has a game tracking tool. The tracking tool allows you to collect data during your gameplay and view charts after the game is over.</p>
  <p class="lead">I have included everything you need in order to print the <%= link_to "expansions", expansions_index_path %> yourself or have somebody else print them for you.</p>
  <p class="lead">Below are some screenshots of the <%= link_to "tracker", new_game_path %> tool I built, I'm still in the process of improving it, however it is totally functional. It was designed to run on a tablet, specifically the <%= link_to "Nexus 7", "http://www.google.com/nexus/7/", target: "_blank" %>, however it should work fine on any other tablet or computer.</p>
  <br>
</div>

<div id="tracker-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#tracker-carousel" data-slide-to="0"></li>
    <li data-target="#tracker-carousel" data-slide-to="1"></li>
    <li data-target="#tracker-carousel" data-slide-to="2"></li>
    <li data-target="#tracker-carousel" data-slide-to="3"></li>
    <li data-target="#tracker-carousel" data-slide-to="4"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("screen_shots/setup.png") %>
      <div class="carousel-caption">
        <h4>Game Setup</h4>
        <p>Choose maps, add players, configure first year settings</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("screen_shots/game_card.png") %>
      <div class="carousel-caption">
        <h4>Game Tracking Card</h4>
        <p>Track territories, continent bonuses, and space stations as you play the game, unit and energy generation is automatically calculated</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("screen_shots/invasion_card.png") %>
      <div class="carousel-caption">
        <h4>Invasion Mode</h4>
        <p>Simplified invasion tracking mode</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("screen_shots/continent_manager.png") %>
      <div class="carousel-caption">
        <h4>Add continent bonus</h4>
        <p>Manage continent bonuses</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("screen_shots/territories_chart.png") %>
      <div class="carousel-caption">
        <h4>Completion Charts</h4>
        <p>View game progress charts, territories, units, energy, bonuses</p>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#tracker-carousel" role="button" data-slide="prev">
    <span class="icon-prev fa-lg"></span>
  </a>
  <a class="right carousel-control" href="#tracker-carousel" role="button" data-slide="next">
    <span class="icon-next fa-lg"></span>
  </a>
</div>

<% content_for :sidebar do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Email Authentication</h3>
    </div>
    <div class="panel-body">
      <p>Login or register using your email address</p>
      <%= link_to "Login", login_path, class: "btn btn-default btn-large" %>
      <%= link_to "Register", new_player_path, class: "btn btn-default btn-large" %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Facebook Authentication</h3>
    </div>
    <div class="panel-body">
      <p>Login or register using your Facebook account</p>
      <%= facebook_button %>
    </div>
  </div>
<% end %>
