<div class="row">
  <div class="span4">
    <h2>Regular Authentication</h2>
    <p>If you already have an account you can login using that</p>
    <%= link_to "Login", login_path, class: "btn btn-inverse btn-large" %>
    <%= link_to "Register", new_player_path, class: "btn btn-inverse btn-large" %>
  </div>
  <div class="span4">
    <h2>Facebook Authentication</h2>
    <p>You can login using your Facebook account</p>
    <%= facebook_button size: "btn-large" %>
  </div>
</div>

<div class="row" style="margin-top: 30px;">
  <div class="span8">
    <%= image_tag("faction_icons/primus_oceanus.png", width: 35) %>
    <%= image_tag("faction_icons/havoc.png", width: 35) %>
    <%= image_tag("faction_icons/church_of_him.png", width: 35) %>
    <%= image_tag("faction_icons/free_militia.png", width: 35) %>
    <%= image_tag("faction_icons/gayans.png", width: 35) %>
    <%= image_tag("faction_icons/megacorp.png", width: 35) %>
    <%= image_tag("faction_icons/preservation.png", width: 35) %>
    <%= image_tag("faction_icons/republicanists.png", width: 35) %>
    <%= image_tag("faction_icons/silicon_knights.png", width: 35) %>
    <%= image_tag("faction_icons/the_fusion_conservancy.png", width: 35) %>
    <%= image_tag("faction_icons/tranquility.png", width: 35) %>
  </div>
</div>
