<div class="page-header">
  <h1>Resources</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Files</h3>
  </div>
  <div class="panel-body">
    <%= link_to "Reference Card", "/resources/Risk_2210_AD_Reference_Card.pdf", target: "_blank" %><br>
    <%= link_to "Command Card Summary", "/resources/Command_Cards_Summary.pdf", target: "_blank" %><br>
    <%= link_to "Avalon Hill FAQ", "/resources/Risk_2210_AD_FAQ.pdf", target: "_blank" %><br>
    <%= link_to "Instruction Manual", "/resources/Risk_2210_AD_Manual.pdf", target: "_blank" %><br>
    <%= link_to "Devastation Markers", "/resources/Devastation_Markers.jpg", target: "_blank" %><br>
    <%= link_to "Risk Font", "/resources/gunship.zip", target: "_blank" %><br>
    <%= link_to "Combat Shell 3D Model (could be used as a commander model)", "http://www.thingiverse.com/thing:21308", target: "_blank" %><br>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Links</h3>
  </div>
  <div class="panel-body">
    <%= link_to "Avalon Hill", "http://avalonhill.wizards.com/games/risk/risk-2210-ad", target: "_blank" %><br>
    <%= link_to "Board Game Geek", "https://boardgamegeek.com/boardgame/1829/risk-2210-d", target: "_blank" %><br>
    <%= link_to "Wikipedia Entry", "http://en.wikipedia.org/wiki/Risk_2210_A.D.", target: "_blank" %><br>
    <%= link_to "Command Card Creator", "http://www.grinborg.com/Risk2210CardCreator.html", target: "_blank" %><br>
    <%= link_to "Insurgency Gaming", "http://www.insurgencygaming.com/", target: "_blank" %><br>
    <%= link_to "Belgium 2210", "http://www.belgium2210.be/", target: "_blank" %><br>
    <%= link_to "Risk 2210 A.D. Turn-Based", "https://www.sc2mapster.com/maps/risk-2210-d-turn-based/", target: "_blank" %><br>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Blogs</h3>
  </div>
  <div class="panel-body">
    <%= link_to "Risk Players Blog", "http://riskplayers.blogspot.com/", target: "_blank" %><br>
    <%= link_to "Kev's Lounge", "http://kevslounge.blogspot.com/search/label/Risk%202210%20AD", target: "_blank" %><br>
    <%= link_to "Tyler2k's .info blog", "https://sites.google.com/site/tyler2kdev/", target: "_blank" %><br>
    <%= link_to "SE Blog", "https://sites.google.com/a/alumni.nd.edu/se-blog/risk", target: "_blank" %><br>
  </div>
</div>
