<div class="page-header">
  <h1>Resources</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Files</h3>
  </div>
  <div class="panel-body">
    <p><%= link_to "Reference Card", "/resources/Risk_2210_AD_Reference_Card.pdf", target: "_blank" %></p>
    <p><%= link_to "Command Card Summary", "/resources/Command_Cards_Summary.pdf", target: "_blank" %></p>
    <p><%= link_to "Instruction Manual", "/resources/risk_2210ad_manual.pdf", target: "_blank" %></p>
    <p><%= link_to "Devastation Markers", "/resources/Devastation_Markers.jpg", target: "_blank" %></p>
    <p><%= link_to "Risk Font", "/resources/gunship.zip", target: "_blank" %></p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Links</h3>
  </div>
  <div class="panel-body">
    <p><%= link_to "Avalon Hill", "http://www.wizards.com/default.asp?x=ah/prod/risk2210", target: "_blank" %></p>
    <p><%= link_to "Avalon Hill FAQ", "http://www.wizards.com/default.asp?x=ah/faqs/risk2210", target: "_blank" %></p>
    <p><%= link_to "Board Game Geek", "http://boardgamegeek.com/boardgame/1829/risk-2210-a-d", target: "_blank" %></p>
    <p><%= link_to "Risk Players Blog", "http://riskplayers.blogspot.com/", target: "_blank" %></p>
    <p><%= link_to "Wikipedia Entry", "http://en.wikipedia.org/wiki/Risk_2210_A.D.", target: "_blank" %></p>
    <p><%= link_to "Command Card Creator", "http://www.grinborg.com/Risk2210CardCreator.html", target: "_blank" %></p>
    <p><%= link_to "Insurgency Gaming", "http://www.insurgencygaming.co.uk/ig_risk2210_main.htm", target: "_blank" %></p>
    <p><%= link_to "Kev's Lounge", "http://kevslounge.blogspot.com/", target: "_blank" %></p>
  </div>
</div>
