<% content_for :page_title, "Dark Side of the Moon Expansion" %>

<h1>Dark Side of the Moon</h1>
<p>Map layout by <%= link_to "Oksel", "http://boardgamegeek.com/user/Oksel", target: "_blank" %>, design by <%= link_to "MrMan2k3", "http://boardgamegeek.com/user/MrMan2k3", target: "_blank" %>.</p>
<hr />

<div class="bundle-download-container">
  <%= link_to content_tag(:i, "", class: "icon-arrow-down icon-large") + " Download Bundled Expansion Pack", "/expansions/dark_side_moon_expansion.zip", class: "btn btn-danger btn-large" %>
  <p class="description">The bundled expansion pack contains high-resolution versions of the Dark Side of the Moon map and each territory card.</p>
</div>

<div class="bundle-download-container">
  <%= link_to content_tag(:i, "", class: "icon-arrow-down icon-large") + " Download Card Sheet", "/expansions/card_sheets/Earth_Territories_Lunar_Dark_Side.pdf", class: "btn btn-danger btn-large" %>
  <p class="description">A pdf for printing your own cards</p>
</div>

<hr />

<p><%= link_to image_tag("dark_side_moon/dark_side_of_the_moon.jpg"), asset_path("dark_side_moon/original/dark_side_of_the_moon.jpg"), target: "_blank" %></p>
