<h1>Pluto</h1>
<p>Map layout by <%= link_to "marhawkman", "http://boardgamegeek.com/user/marhawkman", target: "_blank" %>, design by <%= link_to "MrMan2k3", "http://boardgamegeek.com/user/MrMan2k3", target: "_blank" %>.</p>
<hr />

<div class="bundle-download-container">
  <%= link_to content_tag(:i, "", class: "icon-arrow-down icon-large") + " Download Bundled Expansion Pack", "/expansions/pluto_expansion.zip", class: "btn btn-danger btn-large" %>
  <p class="description">The bundled expansion pack contains high-resolution versions of the Pluto map and each territory card.</p>
</div>

<div class="bundle-download-container">
  <%= link_to content_tag(:i, "", class: "icon-arrow-down icon-large") + " Download Card Sheet", "/expansions/card_sheets/Pluto_Territory_Cards.pdf", class: "btn btn-danger btn-large" %>
  <p class="description">A pdf for printing your own cards</p>
</div>

<hr />

<p><%= link_to image_tag("pluto/Pluto.jpg"), asset_path("pluto/original/Pluto.jpg"), target: "_blank" %></p>
