<% content_for :page_title, "Titan Expansion" %>

<h1>Titan Expansion</h1>

<h2>Rules</h2>

<ol>
  <li>
    4 separate territory card decks:
    <ul>
      <li>Water</li>
      <li>Lunar</li>
      <li>Land</li>
      <li>Hydrocarbon</li>
    </ul>
  </li>
  <li>
    Nuclear command cards affecting water territories allow a player to choose to attack EITHER Water OR Hydrocarbon territories. For example: Player X plays 'Scatter Bomb Water'. This player may draw random cards from either deck listed above, but must confine their draw from one selected deck.
  </li>
  <li>
    Nuclear command cards affecting lunar territories allow a player to choose BOTH Water AND/OR Lunar territories (since all Water is on Rhea). This plays in a similar fashion to the above but players may draw from either or both decks in a nuclear attack.
  </li>
  <li>
    Naval commander is required to attack to and from water and/or hydrocarbon territories. Once a player reaches the water on the moon, a naval commander is the only commander required for attack or movement within the water territories. Naval command cards are playable on either hydrocarbon or water territories.
  </li>
  <li>
    Lunar commander is required for attack into and out of any lunar colony, but as shown in rule change 3, it is not necessary to have a lunar commander once underwater. Lunar command cards are playable on either lunar or water territories (water commander does not have to be in play).
  </li>
  <li>
    For every 6 unique neutral territories occupied, a player with a diplomat commander in play will receive an additional 3 troops at the beginning of each turn.
  </li>
</ol>

<p>Map layout by <%= link_to "gueltron", "http://boardgamegeek.com/user/gueltron", target: "_blank" %>, design by <%= link_to "MrMan2k3", "http://boardgamegeek.com/user/MrMan2k3", target: "_blank" %>.</p>
<div class="bundle-download-container">
  <%= download_expansion_button("/expansions/titan_expansion.zip") %>
  <p class="description">The bundled expansion pack contains high-resolution versions of the Titan map, Rhea map, Continent bonus reference card, and each territory card.</p>
</div>

<div class="bundle-download-container">
  <%= download_expansion_button("/expansions/card_sheets/Titan_Territory_Cards.pdf", text: "Download Card Sheet") %>
  <p class="description">A pdf for printing your own cards</p>
</div>

<hr />

<p><%= link_to image_tag("titan/Titan.jpg"), asset_path("titan/original/Titan.png"), target: "_blank" %></p>
<p>
  <%= link_to image_tag("titan/Rhea.jpg"), asset_path("titan/original/Rhea.png"), target: "_blank" %>
  &nbsp;&nbsp;&nbsp;
  <%= link_to image_tag("titan/BonusBoard.jpg"), asset_path("titan/original/BonusBoard.png"), target: "_blank" %>
</p>
