<div class="player-card <%= color_class(game_player) %> background-<%= game_player_counter + 1 %>" id='<%= dom_id(game_player) %>'>
  <div class="left-col">
    <div class='avatar'>
      <%= avatar(game_player.player, size: :medium) %>
    </div>
    <div class="turn-controls">
      <input type="text" style="width: 75px;"/>
      <%= link_to content_tag(:i, "", class: "icon-ok") + " Save Turn", "#", class: "btn btn-small btn-danger" %>
    </div>
  </div>
  <div class='land territories'>
    <h3>Land</h3>
    <ul>
      <li><span class="label" style="background-color: #12bcf0">Ghaul</span></li>
      <li><span class="label" style="background-color: #e99127">Granada</span></li>
      <li><span class="label" style="background-color: #f0e660">Hoenheim</span></li>
      <li><span class="label" style="background-color: #7e83de">Narkom</span></li>
      <li><span class="label" style="background-color: #8dd92f">Skandi</span></li>
      <li><span class="label" style="background-color: #f0e660">Hoenheim</span></li>
      <li><span class="label" style="background-color: #7e83de">Narkom</span></li>
      <li><span class="label" style="background-color: #8dd92f">Skandi</span></li>
    </ul>
  </div>
  <div class='water territories'>
    <h3>Water</h3>
    <ul>
      <li><span class="label" style="background-color: #f0e660">Hoenheim</span></li>
      <li><span class="label" style="background-color: #7e83de">Narkom</span></li>
      <li><span class="label" style="background-color: #8dd92f">Skandi</span></li>
    </ul>
  </div>
  <div class='space territories'>
    <h3>Space</h3>
    <ul>
      <li><span class="label" style="background-color: #f0e660">Hoenheim</span></li>
      <li><span class="label" style="background-color: #7e83de">Narkom</span></li>
    </ul>
  </div>
  <div class="right-col">
    <div class='faction-logo'><%= faction_icon(game_player.faction) %></div>
    <div class="counter-container">
      <h3 class="counter-label">Energy:</h3>
      <h2 class='counter'>19</h2>
      <h3 class="counter-label">Units:</h3>
      <h2 class='counter'>23</h2>
    </div>
  </div>
</div>