<div class="player nested-fields">
  <%= f.input :handle, input_html: {data: {provide: "typeahead", source: player_handles}} %>
  <%= f.input :faction_id, collection: Faction.all %>
  <%= f.input :color, collection: GamePlayer::COLORS %>
  <%= f.input :territory_count, label: "Starting Territory Count" %>
  <%= link_to_remove_association(content_tag(:i, nil, class: "icon-minus-sign icon-large").html_safe + " Remove", f, class: "btn btn-mini btn-danger") %>
</div>
