<div class="player-card <%= color_class(game_player) %>" id='<%= dom_id(game_player) %>'>
  <div class="opacity">
    <div class='avatar'>
      <%= avatar(game_player.player, size: :small) %>
      <div class="turn-controls">
        <input type="text" style="width: 70px;"/>
        <%= link_to "Save Turn", "#", class: "btn" %>
      </div>
    </div>
    <div class='land territories'>
      <h3>Land</h3>
      <ul>
        <li><span class="label" style="background-color: #12bcf0">Ghaul</span></li>
        <li><span class="label" style="background-color: #e99127">Granada</span></li>
        <li><span class="label" style="background-color: #f0e660">Hoenheim</span></li>
        <li><span class="label" style="background-color: #7e83de">Narkom</span></li>
        <li><span class="label" style="background-color: #8dd92f">Skandi</span></li>
        <li><span class="label" style="background-color: #f0e660">Hoenheim</span></li>
        <li><span class="label" style="background-color: #7e83de">Narkom</span></li>
        <li><span class="label" style="background-color: #8dd92f">Skandi</span></li>
      </ul>
    </div>
    <div class='water territories'>
      <h3>Water</h3>
      <ul>
        <li><span class="label" style="background-color: #f0e660">Hoenheim</span></li>
        <li><span class="label" style="background-color: #7e83de">Narkom</span></li>
        <li><span class="label" style="background-color: #8dd92f">Skandi</span></li>
      </ul>
    </div>
    <div class='space territories'>
      <h3>Space</h3>
      <ul>
        <li><span class="label" style="background-color: #f0e660">Hoenheim</span></li>
        <li><span class="label" style="background-color: #7e83de">Narkom</span></li>
      </ul>
    </div>
    <div class='faction-logo'><%= faction_icon(game_player.faction) %></div>
    <div class='unit-count'>19</div>
  </div>
</div>