<div class="fields player">
  <%= form.input :player_id, collection: Player.all.map{|player| [player.handle, player.id]} %>
  <%= form.input :faction_id, collection: Faction.all %>
  <%= form.input :color, collection: GamePlayer::COLORS %>
  <%= form.input :territory_count %>
  <%= link_to_remove_fields "Remove", form %>
</div>