<% content_for :head do %>
  <%= stylesheet_link_tag "results" %>
<% end %>

<h1>Game Results</h1>
<p><%= link_to "View Game Cards", game_path(@game) %></p>
<table class="table table-bordered" style="background-color: #2e3236">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <% @game.players_by_score.each do |game_player| %>
        <th class="player"><%= faction_icon(game_player.faction, 25) %><span><%= game_player.handle %></span></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Units</td>
      <% @game.players_by_score.each do |game_player| %>
        <td><%= game_player.units %></td>
      <% end %>
    </tr>
    <tr>
      <td>Energy</td>
      <% @game.players_by_score.each do |game_player| %>
        <td><%= game_player.energy %></td>
      <% end %>
    </tr>
    <tr>
      <td>Space Stations</td>
      <% @game.players_by_score.each do |game_player| %>
        <td><%= game_player.space_stations %></td>
      <% end %>
    </tr>
    <tr>
      <td>Territories</td>
      <% @game.players_by_score.each do |game_player| %>
        <td><%= game_player.territory_count %></td>
      <% end %>
    </tr>
    <tr>
      <td>Continent Bonus</td>
      <% @game.players_by_score.each do |game_player| %>
        <td><%= game_player.continent_bonus %></td>
      <% end %>
    </tr>
    <tr>
      <td>Continents</td>
      <% @game.players_by_score.each do |game_player| %>
        <td>
          <ul class="continent-list">
            <% game_player.continents.each do |continent| %>
              <li><span class="continent" style="background-color: <%= continent.color %>"><%= continent.name %> (<%= continent.bonus %>)</span></li>
            <% end %>
          </ul>
        </td>
      <% end %>
    </tr>
    <tr>
      <td>Colony Influence</td>
      <% @game.players_by_score.each do |game_player| %>
        <td><%= game_player.colony_influence_bonus %></td>
      <% end %>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Final Score</td>
      <% @game.players_by_score.each do |game_player| %>
        <td><%= game_player.final_score %></td>
      <% end %>
    </tr>
  </tfoot>
</table>

<h1>Territories</h1>
<div id="territories-chart" class="chart">
  <svg></svg>
</div>

<h1>Units</h1>
<div id="units-chart" class="chart">
  <svg></svg>
</div>

<h1>Energy</h1>
<div id="energy-chart" class="chart">
  <svg></svg>
</div>

<h1>Space Stations</h1>
<div id="space-stations-chart" class="chart">
  <svg></svg>
</div>

<h1>Continent Bonus</h1>
<div id="continent-bonus-chart" class="chart">
  <svg></svg>
</div>

<% content_for :tail do %>
  <%= javascript_include_tag "game_results" %>

  <script type="text/javascript">
    var territory_data       = <%= raw(@chart_data_formatter.territories) %>;
    var units_data           = <%= raw(@chart_data_formatter.units) %>;
    var energy_data          = <%= raw(@chart_data_formatter.energy) %>;
    var space_station_data   = <%= raw(@chart_data_formatter.space_stations) %>;
    var continent_bonus_data = <%= raw(@chart_data_formatter.continent_bonus) %>;
  </script>
<% end %>
