<h2><%= @game.map_names %></h2>
<p>Game Progress:</p>
<%= progress_bar(@game, id: "game-progress-bar") %>

<div class="row">
  <div id="game-players" style="float: left;"></div>
  <div id="maps" style="float: left;"></div>
</div>

<%= content_for :tail do %>
  <%= javascript_include_tag "risk_tracker" %>
  <script type="text/javascript">
    window.GamePlayers = new RiskTracker.Collections.GamePlayers(<%= raw(@game.game_players.to_json) %>);
    window.Maps = new RiskTracker.Collections.Maps(<%= raw(@game.maps.to_json) %>);
    window.GameId = '<%= @game.id %>';
  </script>
<% end %>