<div class="row">
  <div id="game-header">
    <h2><%= @game.map_names %></h2>
    <p>Game Progress:</p>
    <%= progress_bar(@game, id: "game-progress-bar") %>
  </div>
</div>
<div class="row">
  <div id="game"></div>
  <div id="maps"></div>
</div>

<div class="delete-game-container">
  <% if @game.creator == current_player %>
    <%= link_to game_path(@game), data: {method: :delete, confirm: "Are you sure?"}, class: "btn btn-danger" do %>
      <i class='icon-trash icon-white'></i> Delete Game
    <% end %>
  <% end %>
</div>

<%= content_for :tail do %>
  <%= javascript_include_tag "risk_tracker" %>
  <script type="text/javascript">
    var gameData = <%= raw(GameSerializer.new(@game, root: false).to_json) %>;
  </script>
<% end %>
