
<div class="row">
  <div id="game-header">
    <h2><%= @game.map_names %></h2>
    <p>Game Progress:</p>
    <%= progress_bar(@game, id: "game-progress-bar") %>
  </div>
</div>
<div class="row">
  <div id="game-players"></div>
  <div id="maps"></div>
</div>

<%= content_for :tail do %>
  <%= javascript_include_tag "risk_tracker" %>
  <script type="text/javascript">
    window.Game = new RiskTracker.Models.Game(<%= raw(@game.to_json) %>);
  </script>
<% end %>