<% content_for :page_title, "Game Tracker" %>

<div class="row">
  <div id="game">
    <div id="game-header">
      <h3><%= @game.map_names %></h3>
      <p>Game Progress:</p>
      <%= progress_bar(@game, id: "game-progress-bar") %>
      <div>Current Year: <span id="year-counter"><%= @game.current_year %></span></div>
    </div>
  </div>
</div>

<div class="delete-game-container">
  <% if @game.creator == current_player %>
    <%= link_to game_path(@game), data: {method: :delete, confirm: "Are you sure you want to delete the game?"}, class: "btn btn-danger" do %>
      <i class='icon-trash icon-white'></i> Delete Game
    <% end %>
  <% end %>
</div>

<%= content_for :tail do %>
  <%= javascript_include_tag "risk_tracker" %>
  <script type="text/javascript">
    var gameData = <%= raw(GameSerializer.new(@game, root: false).to_json) %>;
  </script>
<% end %>
