<h2>Player Profile</h2>
<%= simple_form_for @player, html: {class: 'form-vertical well'} do |f| %>
  <%= error_messages_for @player %>
  <fieldset>
    <div class="row">
      <div class="span3">
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email %>
        <%= f.input :handle %>
      </div>
      <div class="span3">
        <%= f.input :city %>
        <%= f.input :state, collection: us_states_options %>
        <%= f.input :zip_code %>
        <%= f.input :image_source, collection: [Player::ImageSource::Facebook, Player::ImageSource::Gravatar], as: :radio_buttons, label: "Profile Image Source" %>
        <%= f.input :public_profile, as: :boolean, wrapper: :checkbox %>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <%= f.input :website %>
        <%= f.input :bio, as: :text, input_html: {class: 'span6', rows: 10} %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "Update Profile", class: 'btn btn-primary' %>
      <%= link_to 'Cancel', players_path, class: 'btn' %>
    </div>
  </fieldset>
<% end %>

<% content_for :sidebar do %>
  <h2>Help</h2>

  <h3>Profile Image Source</h3>
  <p>If you registered via Facebook your Facebook profile image will be available for use.  You can also setup a free <a href='http://www.gravatar.com' target="_blank">Gravatar</a> account and choose that as your profile image.</p>

  <h3>Public Profile</h3>
  <p>If the public profile checkbox is unchecked, your profile won't be listed on the site.</p>

  <h3>Remove Account</h3>
  <p>We hate to see you go. If you must, press the red button. All your data will be permanently removed and you will never hear from us again.</p>
  <br>
  <%= link_to  player_path(@player), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure you want to remove your account?"} do %>
    <i class='icon-trash icon-white'></i> Remove Account
  <% end %>
<% end %>
