<h2>Player Profile</h2>
<%= simple_form_for @player, html: {class: 'form-vertical well'} do |f| %>
  <%= error_messages_for @player %>
  <fieldset>
    <div class="row">
      <div class="span4">
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email %>
        <%= f.input :handle %>
      </div>
      <div class="span4">
        <%= f.input :city %>
        <%= f.input :state, collection: us_states_options %>
        <%= f.input :zip_code %>
        <%= f.input :image_source, collection: Player::IMAGE_SOURCES, as: :radio %>
        <%= f.input :public_profile, as: :boolean %>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <%= f.input :website %>
        <%= f.input :bio, as: :text, input_html: {class: 'span6'} %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "Update Profile", class: 'btn btn-primary' %>
      <%= link_to 'Cancel', players_path, class: 'btn' %>
    </div>
  </fieldset>
<% end %>

<% content_for :sidebar do %>
  <h2>Profile Update</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>        
<% end %>