<%= simple_form_for @player, html: {class: 'form-horizontal well'} do |f| %>
  <%= error_messages_for @player %>
  <fieldset>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :handle %>
    <%= f.input :city %>
    <%= f.input :state, collection: us_states_options %>
    <%= f.input :zip_code %>
    <%= f.input :website %>
    <%= f.input :bio, as: :text %>
    <div class="form-actions">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to 'Cancel', players_path, class: 'btn' %>
    </div>
  </fieldset>
<% end %>
