<% content_for :page_title, "New Player" %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New Player Account</h3>
  </div>
  <div class="panel-body">
    <%= simple_form_for @player do |f| %>
      <%= error_messages_for @player %>
        <%= f.input :email %>
        <%= f.input :handle %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%= f.submit "Create Account", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
