<div id="player-profile">
  <div class="well">
    <h2><%= @player.handle %></h2>
    <div class="row">
      <div class="span2">
        <div class='photo-container'>
          <%= avatar(@player, size: :large) %>
        </div>
        <div class='location'>
          <%= @player.location %>
        </div>
        <% if @player.website.present? %>
          <div class='site'>
            <%= link_to @player.website, @player.website, target: "_blank" %>
          </div>
        <% end %>
      </div>
      <div class="span5" style="float: right;">
        <p><%= format_markdown(@player.bio) %></p>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <h2>Games</h2>
  <ul>
    <% @player.game_players.map(&:game).each do |game| %>
      <li><%= link_to format_date(game.created_at), game_path(game) %></li>
    <% end %>
  </ul>
<% end %>
