<div id="player-profile">
  <h2><%= @player.handle %></h2>
  <div class="well">
    <div class='photo-container'>
      <%= image_tag @player.profile_image_path %>
    </div>
    <div class='location'>
      <strong>Location:</strong> <%= @player.city %>, <%= @player.state %> <%= @player.zip_code %>
    </div>

    <% if @player.website.present? %>
      <div class='site'>
        <strong>Site:</strong> <%= link_to @player.website, @player.website, target: "_blank" %>
      </site>
    <% end %>
    <div class='bio'>
      <strong>Bio:</strong><br />
      <p><%= @player.bio %></p>
    </div>
  </div>
</div