<% content_for :page_title, "Majors Promo Cards Expansion" %>
<div class="well">
  <h1>Majors Promo Cards</h1>
  <p>The Majors Promo Cards are a set of promotional cards that were given away at Gen Con (with the exception of the Tech card) to promote Risk 2210 A.D. The cards are powerful, but expensive to activate, command cards to supplement each commander's card deck. The art on the cards pay tribute to several people involved with the creation of Risk 2210 A.D.</p>

  Six cards are included:
  <ul>
    <li>Major Power (Diplomat Command Card)</li>
    <li>Major Flöwerz (Land Command Card)</li>
    <li>Major Death (Naval Command Card)</li>
    <li>Major Pain (Nuclear Command Card)</li>
    <li>Major Destruction (Space Command Card)</li>
    <li>Major Fortification (Tech Command Card)</li>
  </ul>

  <div class="bundle-download-container">
    <%= download_expansion_button("/expansions/majors_promo_cards.zip") %>
    <p class="description">The bundled expansion pack contains high-resolution versions of Majors Promo Cards.</p>
  </div>

</div>

<%= image_tag("majors_promo_cards/diplomat.png", width: 200) %>
<%= image_tag("majors_promo_cards/land.png", width: 200) %>
<%= image_tag("majors_promo_cards/naval.png", width: 200) %>
<%= image_tag("majors_promo_cards/nuclear.png", width: 200) %>
<%= image_tag("majors_promo_cards/space.png", width: 200) %>
<%= image_tag("majors_promo_cards/tech.png", width: 200) %>
