<% unless logged_in? %>
  <div class="modal fade sign-in" id="login-modal" style="display: none;">
    <%= simple_form_for :session, url: create_session_path, html: {class: 'form-vertical'} do |f| %>
      <div class="modal-body">
        <%= f.input :email %>
        <%= f.input :password %>
        <div class="remember-me">
          <%= f.input :remember_me, as: :boolean, wrapper: :checkbox %>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Login", class: 'btn btn-danger' %><br /><br />
        <%= facebook_button %>
        <br /><br />
        <%= link_to "Forgot Password?", forgot_password_path %>
      </div>
    <% end %>
  </div>
<% end %>
