<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Risk Tracker", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <%= navigation_item("Players", players_path, :players) %>
        <%= navigation_item("Forums", forums_path, :forums) %>
        <%= navigation_item("Tracker", new_game_path, :tracker) %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Expansions <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <%= navigation_item("Factions", expansions_factions_path, nil) %>
            <li class="divider"></li>
            <%= navigation_item("Antarctica", expansions_antarctica_path, nil) %>
            <%= navigation_item("Arctic", expansions_arctic_path, nil) %>
            <%= navigation_item("Asteroid Colonies", expansions_asteroid_colonies_path, nil) %>
            <%= navigation_item("Dark Side of the Moon", expansions_dark_side_moon_path, nil) %>
            <%= navigation_item("Europa", expansions_europa_path, nil) %>
            <%= navigation_item("Io", expansions_io_path, nil) %>
            <%= navigation_item("Mars", expansions_mars_path, nil) %>
            <%= navigation_item("Pluto", expansions_pluto_path, nil) %>
            <%= navigation_item("Titan", expansions_titan_path, nil) %>
            <li class="divider"></li>
            <%= navigation_item("Galaxy Commander", expansions_galaxy_commander_path, nil) %>
            <%= navigation_item("Majors Promo Cards", expansions_majors_promo_cards_path, nil) %>
            <%= navigation_item("Resistance Commander", expansions_resistance_commander_path, nil) %>
            <%= navigation_item("Tech Commander", expansions_tech_commander_path, nil) %>
            <li class="divider"></li>
            <%= navigation_item("Capitals", expansions_capitals_path, nil) %>
            <%= navigation_item("Invasion of the Giant Amoebas", expansions_amoebas_path, nil) %>
            <%= navigation_item("Galactic Risk", expansions_galactic_path, nil) %>
          </ul>
        </li>
        <%= navigation_item("Resources", resources_path, :resources) %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_player %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle needsclick" data-toggle="dropdown">Account <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <%= link_to edit_player_path(current_player) do %>
                <i class="fa fa-cogs no-dropdown-arrow"></i> Edit Profile
              <% end %>
            </li>
            <li>
              <%= link_to messages_path do %>
                <i class="fa fa-envelope no-dropdown-arrow"></i> Messages
              <% end %>
            </li>
            <li>
              <%= link_to edit_password_path do %>
                <i class="fa fa-lock no-dropdown-arrow"></i> Change Password
              <% end %>
            </li>
            <% if current_player.admin? %>
              <li>
                <%= link_to "/admin/documents" do %>
                  <i class="fa fa-dashboard no-dropdown-arrow"></i> Admin
                <% end %>
              </li>
            <% end %>
            <li class="divider"></li>
            <li>
              <%= link_to logout_path, method: :delete do %>
                <i class="fa fa-power-off no-dropdown-arrow"></i> Logout
              <% end %>
            </li>
          </ul>
        </li>
        <% else %>
          <li><a data-toggle="modal" href="#login-modal">Login</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
