<!DOCTYPE html>
<html lang="en">
  <%= render partial: "layouts/head" %>
  <body>
    <%= render partial: "layouts/navigation" %>
    <div class="container">
      <%= flash_messages %>
      <div class="row">
        <div class="col-md-8">
          <%= yield %>
        </div>
        <div class="col-md-4">
          <%= yield :sidebar %>
        </div>
      </div>
      <%= render partial: "layouts/footer" %>
    </div>
    <%= render partial: "layouts/login_modal" %>
    <%= render partial: "layouts/tail" %>
  </body>
</html>
