<!DOCTYPE html>
<html>
  <%= render partial: "layouts/head" %>
  <body>
    <div class="container main">
      <%= render partial: "shared/navigation" %>
      <%= flash_messages %>
      <div class="user_navigation">
        <% if current_player %>
          Welcome <%= current_player.full_name %>!<br />
          <%= link_to "Edit Profile", edit_player_path(current_player) %> | 
          <%= link_to "Logout", logout_path, :method => :delete %>
        <% else %>
          <%= link_to "Login", login_path %>
        <% end %>
      </div>
      <%= yield %>
    </div>
    <%= render partial: "layouts/tail" %>
  </body>
</html>
