<!DOCTYPE html>
<html>
  <%= render partial: "layouts/head" %>
  <body>
    <%= render partial: "layouts/navigation" %>
    <div class="container">
      <%= flash_messages %>
      <%= yield %>
      <footer>
        <p>&copy; RiskTracker <%= Date.today.year %></p>
      </footer>
    </div>
    <%= render partial: "layouts/login_modal" %>
    <%= render partial: "layouts/tail" %>
  </body>
</html>